body {
  background-color: #fff7ed;
  color: #100c08;
  font-size: 14px;
  font-weight: 500;
  font-family: Ubuntu, sans-serif;
}

a {
  color: #009999;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #100c08;
  color: #fff7ed;
  padding-top: 25px;
  z-index: 50;
}

#header,
#body {
  margin-left: 250px;
  padding: 10px;
}

#title-column,
#degree-column {
  flex: 1;
  width: 250px;
}

.info-header,
.info-body {
  position: relative;
  width: 850px;
  margin: 5px auto;
  margin-top: 25px;
}

.click-title {
  color: #f53e3e;
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.click-hidden {
  display: none;
  padding: 5px;
  margin-top: 5px;
}

.chevron {
  margin-left: 5px;
  transition: transform 0.3s ease;
  width: 20px;
  height: 20px;
  viewbox: 0 0 20 20;
  xmlns: http://www.w3.org/2000/svg;
}

.gallery {
  overflow: hidden;
  width: 600px;
  margin: 5px auto;
  margin-top: 25px;
  -webkit-mask: linear-gradient(90deg, transparent, #fff7ed 10%, #fff7ed 90%, transparent);
  mask: linear-gradient(90deg, transparent, #fff7ed 10%, #fff7ed 90%, transparent);
}

.gallery-scroller {
  padding-block: 1rem;
  display: flex;
  gap: 1rem;
  width: max-content;
  animation: scroll 10s linear infinite;
}

.gallery-item p{
  color: #100c08;
  text-align: center;
  margin: 5px;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@media (max-width: 900px) {
  .sidebar {
    width: 150px !important;
  }

  .sidebar #picture {
    width: 125px;
    height: 125px;
  }

  #header,
  #body {
    margin-left: 150px;
  }
}
